Repository Onion-City/Whatssue_FE_v2, pull requests merged in 2024-08, with the labels that each got.

#120 Feat: 모집 코드 & 모집 여부 변경 custom hook
  src/assets/images/ic_refresh.png
  src/components/organisms/Modal/Modal.module.css
  src/constants/images.ts
  src/features/info/ManagerInfo.tsx
  src/features/info/MemberInfo.tsx
  src/features/info/club/MemberClubInfo.tsx
  src/features/info/club/components/ClubCodeBox.tsx
  src/features/info/club/components/ClubInfo.css
  src/features/info/club/components/ClubInfo.tsx
  src/features/info/club/components/ClubInfoBox.tsx
  src/features/info/club/components/ClubPrivateInfo.tsx
  src/features/info/club/constants/const.ts
  src/features/info/components/MemberClubInfo.tsx
  src/features/info/components/MemberContent.tsx
  src/features/info/components/MemberUserInfo.tsx
  src/hook/club/useClubsIsPrivateMutation.ts
  src/hook/club/useClubsPrivateCodeMutation.ts
  src/hook/info/useClubMemberInfoQuery.ts
  src/types/club/types.ts
  src/types/info/types.ts
Labels: Feat

#122 Feat: 관리자 더보기 custom hook
  src/app/info/[clubId]/modify/page.tsx
  src/app/info/board/comment/page.tsx
  src/components/atoms/fileUpload/FileUpload.css
  src/components/atoms/fileUpload/FileUpload.tsx
  src/components/atoms/input/Input.tsx
  src/components/atoms/textarea/Textarea.tsx
  src/components/molecules/inputBox/InputBox.tsx
  src/features/info/board/comment/InfoBoardComment.tsx
  src/features/info/club/components/ClubInfo.css
  src/features/info/club/components/ClubInfoBox.tsx
  src/features/info/club/components/ClubProfile.tsx
  src/features/info/club/modify/ClubInfoModify.tsx
  src/features/info/club/modify/components/ClubInfoModify.css
  src/features/info/club/modify/components/ClubInfoModifyForm.tsx
  src/features/info/club/modify/constants/const.ts
  src/features/info/club/modify/constants/index.ts
  src/features/info/components/MemberBtn.tsx
  src/features/info/manage/absent/components/ManageAbsentHistoryList.tsx
  src/features/info/manage/join/ManageJoin.tsx
  src/features/info/manage/join/components/ManageJoin.css
  src/features/info/manage/join/components/ManageJoinHeader.tsx
  src/features/info/manage/join/components/ManageJoinList.tsx
  src/features/user/club/SetupUserClub.tsx
  src/features/user/club/components/FirstClubRegister.tsx
  src/features/user/club/components/SecondClubRegister.tsx
  src/features/user/club/components/ThirdClubRegister.tsx
  src/features/user/club/constants/const.ts
  src/features/user/joinClub/components/EnterInvitationCode.css
  src/features/user/joinClub/components/EnterInvitationCode.tsx
  src/features/user/joinClub/components/InvitationClub.tsx
  src/hook/club/useClubsMutation.ts
  src/hook/clubJoin/useJoinClubMutation.ts
  src/hook/info/useClubJoinAcceptMutation.ts
  src/hook/info/useClubJoinDenyMutation.ts
  src/hook/info/useClubJoinQuery.ts
  src/hook/info/useMyCommentQuery.ts
  src/types/info/types.ts
Labels: Design, Feat

#124 Feat: 관리자 더보기 custom hook
  src/app/info/[clubId]/modify/page.tsx
  src/app/info/board/comment/page.tsx
  src/app/user/club/join/[clubId]/page.tsx
  src/app/user/profile/edit/page.tsx
  src/app/user/profile/page.tsx
  src/components/atoms/fileUpload/FileUpload.css
  src/components/atoms/fileUpload/FileUpload.tsx
  src/components/atoms/input/Input.tsx
  src/components/atoms/textarea/Textarea.tsx
  src/components/molecules/inputBox/InputBox.tsx
  src/features/info/board/comment/InfoBoardComment.tsx
  src/features/info/club/components/ClubInfo.css
  src/features/info/club/components/ClubInfoBox.tsx
  src/features/info/club/components/ClubProfile.tsx
  src/features/info/club/modify/ClubInfoModify.tsx
  src/features/info/club/modify/components/ClubInfoModify.css
  src/features/info/club/modify/components/ClubInfoModifyForm.tsx
  src/features/info/club/modify/constants/const.ts
  src/features/info/club/modify/constants/index.ts
  src/features/info/components/MemberBtn.tsx
  src/features/info/manage/absent/components/ManageAbsentHistoryList.tsx
  src/features/info/manage/join/ManageJoin.tsx
  src/features/info/manage/join/components/ManageJoin.css
  src/features/info/manage/join/components/ManageJoinHeader.tsx
  src/features/info/manage/join/components/ManageJoinList.tsx
  src/features/manager/attendance/AttendanceStatus.tsx
  src/features/manager/attendance/AttendanceStatusEdit.tsx
  src/features/user/club/SetupUserClub.tsx
  src/features/user/club/components/FirstClubRegister.tsx
  src/features/user/club/components/SecondClubRegister.tsx
  src/features/user/club/components/ThirdClubRegister.tsx
  src/features/user/club/constants/const.ts
  src/features/user/joinClub/InvitationClubInfo.tsx
  src/features/user/joinClub/components/EnterInvitationCode.css
  src/features/user/joinClub/components/EnterInvitationCode.tsx
  src/features/user/joinClub/components/InvitationClub.tsx
  src/hook/club/useClubsMutation.ts
  src/hook/clubJoin/useJoinClubMutation.ts
  src/hook/info/useClubJoinAcceptMutation.ts
  src/hook/info/useClubJoinDenyMutation.ts
  src/hook/info/useClubJoinQuery.ts
  src/hook/info/useMyCommentQuery.ts
  src/types/info/types.ts
Labels: Feat, Fix

#125 Fix: user profile edit 에러 해결
  src/app/user/profile/edit/page.tsx
  src/features/user/profile/Profile.tsx
  src/features/user/profile/components/AccountInfo.tsx
  src/features/user/profile/components/AccountSetting.tsx
Labels: Fix

#126 Fix: user profile edit 에러 해결
  src/app/user/profile/edit/page.tsx
  src/features/user/profile/Profile.tsx
  src/features/user/profile/components/AccountInfo.tsx
  src/features/user/profile/components/AccountSetting.tsx
Labels: Fix

#127 Feat: 추가 회원가입 전화번호 인증 추가
  src/app/info/page.tsx
  src/components/molecules/authBox/AuthBox.tsx
  src/components/molecules/scheduleBox/ScheduleBox.css
  src/features/board/components/BoardItem.tsx
  src/features/home/SetHome.tsx
  src/features/home/calendar/SetCalendar.tsx
  src/features/info/board/like/InfoBoardLike.tsx
  src/features/info/board/write/InfoBoardWrite.tsx
  src/features/user/club/SetupUserClub.tsx
  src/features/user/signup/components/Signup.tsx
  src/features/user/signup/components/SignupComplete.tsx
  src/features/user/signup/constants/const.ts
  src/hook/club/useClubsMutation.ts
  src/hook/user/useCertificationQuery.tsx
  src/hook/user/useUserMutation.ts
Labels: Feat, Fix

#131 Feat: AuthBox을 InputBox에서 분리
  src/apis/http.tsx
  src/app/user/signup/complete/page.tsx
  src/components/molecules/inputBox/InputBox.tsx
  src/features/user/Login/components/LoginBtn.tsx
  src/features/user/club/SetupUserClub.tsx
  src/features/user/signup/components/Signup.tsx
  src/hook/club/useClubsMutation.ts
Labels: Feat, Fix

#132 Feat: 출석 정정 api 연결 & 멤버 출석 확인 페이지 & AuthBox을 InputBox에서 분리
  src/apis/http.tsx
  src/app/member/list/[memberId]/attendance/page.tsx
  src/app/user/signup/complete/page.tsx
  src/components/molecules/inputBox/InputBox.tsx
  src/features/home/calendar/SetCalendarRegister.tsx
  src/features/manager/attendance/components/AttendanceStatusList.tsx
  src/features/manager/attendance/components/AttendanceStatusListEdit.tsx
  src/features/member/list/SetupMemberAttendance.tsx
  src/features/member/list/components/MemberDetail.css
  src/features/member/list/components/MemberDetail.tsx
  src/features/user/Login/components/LoginBtn.tsx
  src/features/user/club/SetupUserClub.tsx
  src/features/user/signup/components/Signup.tsx
  src/hook/attendance/manager/useAttendanceUpdateMutation.ts
  src/hook/attendance/member/useAttendanceMemberResultQuery.ts
  src/hook/attendance/member/useMemberAttendance.ts
  src/hook/club/useClubsMutation.ts
  src/hook/schedule/useScheduleMutation.ts
  src/types/attendance/types.ts
Labels: Design, Feat, Fix

#135 Feat: 내가 쓴 댓글 api 연동 & 모임 정보 수정 custom hook (useClubsInfoMutation)
  src/features/info/board/comment/InfoBoardComment.tsx
  src/features/info/club/modify/components/ClubInfoModifyForm.tsx
  src/features/user/onboarding/components/RealnameOnboarding.tsx
  src/hook/club/ClubInfoModifyForm.ts
  src/hook/club/useClubsInfoMutation.ts
  src/hook/info/useMyCommentQuery.ts
  src/hook/member/useMemberProfileMutation.ts
  src/types/club/types.ts
  src/types/info/types.ts
Labels: Feat

#136 Feat: 무한 스크롤 구현 && 관리자 더보기 api 연동
  src/app/layout.tsx
  src/components/molecules/commentList/CommentList.tsx
  src/components/molecules/headerInfo/HeaderInfo.tsx
  src/features/board/components/Board.css
  src/features/board/components/Board.tsx
  src/features/board/components/BoardDetail.css
  src/features/board/components/BoardList.tsx
  src/features/home/SetHome.tsx
  src/features/info/ManagerInfo.tsx
  src/features/info/board/comment/InfoBoardComment.tsx
  src/features/info/club/modify/components/ClubInfoModifyForm.tsx
  src/features/info/manage/join/ManageJoin.tsx
  src/features/info/manage/join/components/ManageJoinBox.tsx
  src/features/info/manage/join/components/ManageJoinHeader.tsx
  src/features/info/manage/join/components/ManageJoinList.tsx
  src/features/user/onboarding/components/RealnameOnboarding.tsx
  src/hook/club/ClubInfoModifyForm.ts
  src/hook/club/useClubsInfoMutation.ts
  src/hook/comment/useCommentsQuery.ts
  src/hook/info/useClubJoinAcceptMutation.ts
  src/hook/info/useClubJoinDenyMutation.ts
  src/hook/info/useMyCommentQuery.ts
  src/hook/member/useMemberAuthQuery.ts
  src/hook/member/useMemberProfileMutation.ts
  src/hook/post/usePostListQuery.ts
  src/types/club/types.ts
  src/types/info/types.ts
  src/types/types.ts
  src/utils/useCustomInfiniteQuery.ts
  src/utils/useScrollHandler.ts
Labels: Design, Feat, Fix

#137 Feat: 멤버 프로필 초기 설정 custom hook (useMemberProfileMutation)
  src/app/user/onboarding/page.tsx
  src/components/molecules/headerInfo/HeaderInfo.tsx
  src/features/info/club/modify/components/ClubInfoModify.css
  src/features/info/club/modify/components/ClubInfoModifyForm.tsx
  src/features/user/onboarding/SetupUserOnboarding.tsx
  src/features/user/onboarding/components/NicknameOnboarding.tsx
  src/features/user/onboarding/components/RealnameOnboarding.tsx
  src/features/user/onboarding/constants/const.ts
  src/hook/absence/useAbsenceAcceptMutation.ts
  src/hook/club/useClubsInfoMutation.ts
  src/hook/member/useMemberProfileMutation.ts
Labels: Feat

#138 Feat: 멤버 프로필 초기 설정 custom hook (useMemberProfileMutation)
  src/app/user/onboarding/page.tsx
  src/components/molecules/headerInfo/HeaderInfo.tsx
  src/features/info/club/modify/components/ClubInfoModify.css
  src/features/info/club/modify/components/ClubInfoModifyForm.tsx
  src/features/user/onboarding/SetupUserOnboarding.tsx
  src/features/user/onboarding/components/NicknameOnboarding.tsx
  src/features/user/onboarding/components/RealnameOnboarding.tsx
  src/features/user/onboarding/constants/const.ts
  src/hook/absence/useAbsenceAcceptMutation.ts
  src/hook/club/useClubsInfoMutation.ts
  src/hook/member/useMemberProfileMutation.ts
Labels: Feat

#139 Feat: 관리자 & 멤버 구분
  src/app/info/page.tsx
  src/features/home/SetHome.tsx
  src/features/info/club/MemberClubInfo.tsx
Labels: Feat

#140 Feat: 더보기 페이지 관리자 & 멤버 구분
  src/app/info/page.tsx
  src/features/home/SetHome.tsx
  src/features/info/club/MemberClubInfo.tsx
Labels: Feat

#141 Fix: auth 에러 처리
  src/components/molecules/headerInfo/HeaderInfo.tsx
  src/hook/member/useMemberAuthQuery.ts
Labels: Feat

#142 Fix: auth 에러 처리
  src/components/molecules/headerInfo/HeaderInfo.tsx
  src/hook/member/useMemberAuthQuery.ts
Labels: Feat

#143 Feat: ClubId 재설정
  src/components/atoms/textarea/textarea.css
  src/features/home/calendar/SetCalendar.tsx
  src/features/home/calendar/SetCalendarDetail.tsx
  src/features/home/calendar/SetCalendarRegister.tsx
  src/features/home/calendar/components/Calendar.css
  src/features/home/calendar/components/CalendarDetailBtn.tsx
  src/features/home/calendar/components/CalendarList.tsx
  src/features/home/calendar/components/CalendarRegister.tsx
  src/hook/absence/useAbsenceReqMutation.tsx
  src/hook/schedule/useScheduleMutation.ts
  src/types/absence/types.ts
Labels: Design, Feat, Fix

#144 Feat: ClubId 재설정
  src/components/atoms/textarea/textarea.css
  src/features/home/calendar/SetCalendar.tsx
  src/features/home/calendar/SetCalendarDetail.tsx
  src/features/home/calendar/SetCalendarRegister.tsx
  src/features/home/calendar/components/Calendar.css
  src/features/home/calendar/components/CalendarDetailBtn.tsx
  src/features/home/calendar/components/CalendarList.tsx
  src/features/home/calendar/components/CalendarRegister.tsx
  src/hook/absence/useAbsenceReqMutation.tsx
  src/hook/schedule/useScheduleMutation.ts
  src/types/absence/types.ts
Labels: Design, Feat, Fix

#145 Feat: 중복 일정 제외
  src/features/home/SetHome.tsx
  src/features/home/calendar/SetCalendar.tsx
  src/features/home/components/Home.css
  src/features/home/components/HomeDateWrapper.tsx
  src/features/home/components/HomeHeader.tsx
  src/features/home/components/HomeRegBtn.tsx
  src/hook/schedule/useScheduleMutation.ts
Labels: Feat

#148 Design: 더보기 페이지 디자인 수정
  src/app/club/attendance/status/edit/page.tsx
  src/app/club/attendance/status/page.tsx
  src/features/info/ManagerInfo.tsx
  src/features/info/MemberInfo.tsx
  src/features/info/components/MemberInfo.css
  src/features/info/components/MemberUserInfo.tsx
Labels: Design

#149 Refactor: role에 따른 출석 페이지 호출
  src/apis/http.tsx
  src/app/club/attendance/page.tsx
  src/app/club/attendance/status/edit/page.tsx
  src/app/club/attendance/status/page.tsx
  src/app/layout.tsx
  src/app/manager/attendance/page.tsx
  src/app/member/attendance/page.tsx
  src/components/organisms/Nav/constants.ts
  src/features/attendance/manager/Attendance.tsx
  src/features/attendance/manager/AttendanceStatus.tsx
  src/features/attendance/manager/AttendanceStatusEdit.tsx
  src/features/attendance/manager/components/Attendance.css
  src/features/attendance/manager/components/AttendanceStatusList.tsx
  src/features/attendance/manager/components/AttendanceStatusListEdit.tsx
  src/features/attendance/manager/components/CurrentAttendance.tsx
  src/features/attendance/manager/components/TodaySchedule.tsx
  src/features/attendance/manager/constants/const.ts
  src/features/attendance/manager/molecules/Attendance.css
  src/features/attendance/manager/molecules/AttendanceSelect.tsx
  src/features/attendance/manager/molecules/AttendanceStatusEditItem.tsx
  src/features/attendance/manager/molecules/AttendanceStatusItem.tsx
  src/features/attendance/member/AttendanceListPage.tsx
  src/features/attendance/member/AttendancePage.tsx
  src/features/attendance/member/components/Attendance.css
  src/features/attendance/member/components/Attendance.tsx
  src/features/attendance/member/components/AttendanceEmpty.tsx
  src/features/attendance/member/components/AttendanceItemProps.ts
  src/features/attendance/member/components/AttendanceList.tsx
  src/features/attendance/member/constants/const.ts
  src/features/attendance/member/constants/dummy.tsx
  src/features/info/ManagerInfo.tsx
  src/features/info/MemberInfo.tsx
  src/features/info/components/MemberInfo.css
  src/features/info/components/MemberUserInfo.tsx
Labels: Design, Feat, Fix

#150 Feat: 게시글 검색 기능 추가
  src/app/club/board/free/search/page.tsx
  src/app/club/board/notice/search/page.tsx
  src/components/atoms/headerClubInfo/HeaderClubInfo.tsx
  src/components/molecules/headerInfo/HeaderInfo.tsx
  src/features/board/SetupSearchBoard.tsx
  src/features/board/components/BoardItem.tsx
  src/features/board/components/BoardSearcHeader.tsx
  src/features/board/components/FilterBoard.tsx
  src/features/home/SetHome.tsx
  src/hook/post/useBoard.ts
  src/hook/post/usePostListQuery.ts
Labels: Design, Feat

#151 Fix: 공결 신청 수락 & 거절 오류 해결
  src/features/info/absent/MemberAbsentInfo.tsx
  src/features/info/absent/components/AbsentBox.tsx
  src/features/info/absent/components/AbsentList.tsx
  src/features/info/attendance/MemberAttendanceInfo.tsx
  src/features/info/attendance/components/AttendanceList.tsx
  src/features/info/components/MemberInfo.css
  src/features/info/manage/absent/components/ManageAbsentCurrentItem.tsx
  src/features/info/manage/absent/components/ManageAbsentHistoryItem.tsx
  src/features/info/manage/absent/components/ManageAbsentHistoryList.tsx
  src/hook/absence/useAbsenceAcceptMutation.ts
  src/hook/absence/useAbsenceRejectMutation.ts
  src/types/absence/types.ts
Labels: Fix

#152 Fix: 공결 신청 수락 & 거절 오류 해결 & 게시글 검색 추가
  src/app/club/board/free/search/page.tsx
  src/app/club/board/notice/search/page.tsx
  src/components/atoms/headerClubInfo/HeaderClubInfo.tsx
  src/components/molecules/headerInfo/HeaderInfo.tsx
  src/features/board/SetupSearchBoard.tsx
  src/features/board/components/BoardItem.tsx
  src/features/board/components/BoardSearcHeader.tsx
  src/features/board/components/FilterBoard.tsx
  src/features/home/SetHome.tsx
  src/features/info/absent/MemberAbsentInfo.tsx
  src/features/info/absent/components/AbsentBox.tsx
  src/features/info/absent/components/AbsentList.tsx
  src/features/info/attendance/MemberAttendanceInfo.tsx
  src/features/info/attendance/components/AttendanceList.tsx
  src/features/info/components/MemberInfo.css
  src/features/info/manage/absent/components/ManageAbsentCurrentItem.tsx
  src/features/info/manage/absent/components/ManageAbsentHistoryItem.tsx
  src/features/info/manage/absent/components/ManageAbsentHistoryList.tsx
  src/hook/absence/useAbsenceAcceptMutation.ts
  src/hook/absence/useAbsenceRejectMutation.ts
  src/hook/post/useBoard.ts
  src/hook/post/usePostListQuery.ts
  src/types/absence/types.ts
Labels: Feat, Fix
